<template>
    <div>
        <NuxtRouteAnnouncer/>
        <NuxtLayout>
            <NuxtPage/>
            <Toast/>
        </NuxtLayout>
    </div>
</template>
<script setup>
import 'primeicons/primeicons.css'
</script>
