<script setup lang="ts">
import {useToast} from "primevue";

const props = defineProps<{
    content: string,
    toastTemplate?: string
}>();
const toast = useToast();

function copyToClipboard() {
    navigator.clipboard.writeText(props.content);

    const toastContent = props.toastTemplate ?
        props.toastTemplate.replaceAll('%s', props.content) :
        `'${props.content}' copied to clipboard`;
    toast.add({ severity: 'info', summary: 'Info', detail: toastContent, life: 3_000 });
}
</script>

<template>
    <Button icon="pi pi-clipboard"
            v-tooltip.top="'Copy to clipboard'"
            aria-label="Copy to clipboard"
            severity="secondary"
            @click="copyToClipboard" />
</template>

<style scoped>

</style>