<script setup lang="ts">
    const items = ref([
        {
            label: 'Home',
            icon: 'pi pi-home',
            href: '/'
        },
        {
            label: 'Image Library',
            icon: 'pi pi-image',
            href: '/images'
        },
        {
            label: 'Audio Library',
            icon: 'pi pi-headphones',
            href: '/audio'
        }
    ]);
</script>
<template>
    <div class="container mx-auto">
        <Menubar :model="items">
            <template #item="{ item }">
                <nuxt-link v-if="item.href" :to="item.href" class="p-menubar-item-link" data-pc-section="itemlink">
                    <span class="p-menubar-item-icon" :class="item.icon" data-pc-section="itemicon" />
                    <span class="p-menubar-item-label" data-pc-section="itemlabel">{{ item.label }}</span>
                </nuxt-link>
            </template>
        </Menubar>
        <slot />
    </div>
</template>

<style scoped>

</style>