<script setup>
import {Howl, Howler} from 'howler';

const searchBy = ref('Transcription');
const searchCriteria = ref('');
const disableSearchBox = ref(false);
const results = ref(undefined);
const searchField = ref(null);
const placeholderFilenames = [
    'gen_gthlp_civmale06_civmale06_004.wav',
    'dr3112_rosenbergs1_civfem02_001.wav',
    'ds3145_novikovid_diana_001.wav'
];
const placeholderLines = [
    'Security! You need to deal with this guy right away!',
    'Look, look Daniel, she\'s nice.',
    'That is Viktor Novikov, head of Sanguine and ringleader of IAGO. Quite the résumé.'
];
const selectedPlaceholderIndex = ref(-1);
const loadedFiles = {};

onMounted(() => {
    selectedPlaceholderIndex.value = Math.floor(Math.random() * placeholderLines.length);
});

const doDebounce = (func) => {
    const timeoutId = window.setTimeout(() => {}, 0);
    for (let id = timeoutId; id >= 0; id -= 1) {
        window.clearTimeout(id);
    }

    setTimeout(() => {
        func();
    }, 750);
};

watch(searchCriteria, ((newValue, oldValue) => {
    if (newValue === oldValue) {
        return;
    }

    doSearch();
}));

function doSearch() {
    doDebounce(() => {
        disableSearchBox.value = true;

        if (searchCriteria.value === '') {
            results.value = [];
            disableSearchBox.value = false;
            return;
        }

        $fetch(`https://ioiapi.hitmaps.com/api/transcribed-audio?searchCriteria=${encodeURIComponent(searchCriteria.value)}&searchType=${encodeURIComponent(searchBy.value)}`)
            .then(resp => {
                results.value = resp.data;
                disableSearchBox.value = false;
                nextTick(() => {
                    searchField.value.$el.focus();
                });
            })
    }, 750);
}

function getAudioUrl(result) {
    const filePath = result.fullPath.replace('.wav', '.ogg');

    return `https://cdn.hitmaps.com/audio/${filePath}`;
}

function playAudio(result) {
    Howler.stop();

    const filePath = result.fullPath.replace('.wav', '.ogg');

    if (loadedFiles[filePath]) {
        loadedFiles[filePath].play();
        return;
    }

    const howl = new Howl({
        src: [getAudioUrl(result)]
    });
    howl.once('load', () => {
        howl.play();
    });
    loadedFiles[filePath] = howl;
}
</script>

<template>
    <div class="grid grid-cols-4 mt-10">
        <div class="pr-4">
            <card>
                <template #title>Search By</template>
                <template #content>
                    <div class="flex gap-2">
                        <radio-button v-model="searchBy" input-id="fileName" name="dynamic" value="Filename" />
                        <label for="fileName">File Name</label>
                    </div>
                    <div class="flex gap-2">
                        <radio-button v-model="searchBy" input-id="transcription" name="dynamic" value="Transcription" />
                        <label for="transcription">Transcription</label>
                    </div>
                </template>
            </card>
        </div>
        <div class="col-span-3">
            <card>
                <template #title>Search Criteria</template>
                <template #content>
                    <input-text type="text" class="w-full" v-model="searchCriteria"
                                ref="searchField"
                                :disabled="disableSearchBox"
                                :placeholder="searchBy === 'Transcription' ? placeholderLines[selectedPlaceholderIndex] : placeholderFilenames[selectedPlaceholderIndex]" />
                    <message severity="secondary" variant="simple" v-if="searchBy === 'Transcription'">
                        To include a wildcard, use the <code>*</code> character.<br>
                        (Example: search for <code>quite*resume</code> to include "quite the resume")
                    </message>
                    <message severity="secondary" variant="simple" v-else>
                        Enter a partial or full file name
                    </message>
                </template>
            </card>
        </div>
    </div>
    <template v-if="results">
        <message v-if="results.length === 0" severity="info" class="mt-10">No results found</message>
        <message v-else-if="results.length > 500" severity="warn" class="mt-10">Your query returned more than 500 results. Please adjust your query.</message>
        <div v-else-if="results.length" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-10 gap-3">
            <card v-for="result in results">
                <template #header>
                    <div class="flex px-5 py-2 bg-white/10 rounded-tr-xl rounded-tl-xl">
                        <div class="flex-grow">
                            {{ result.fileName }}
                        </div>
                        <div v-tooltip.top="result.status">
                            <transcription-logo :icon="result.source" />
                        </div>
                    </div>
                </template>
                <template #content>
                    <p>{{ result.transcription }}</p>
                </template>
                <template #footer>
                    <div class="flex mt-2">
                        <Button size="small" severity="info" label="Play Audio" icon="pi pi-play" class="mr-2" @click="playAudio(result)" />
                        <Button size="small" severity="secondary" label="Download" icon="pi pi-download" as="a" :href="getAudioUrl(result)" target="_blank" rel="noopener" />
                    </div>
                </template>
            </card>
        </div>
    </template>
    <footer class="m-4 text-center">Transcriptions retrieved via in-game files or generated by OpenAI</footer>
</template>

<style scoped lang="scss">
div {
    &:deep(.p-card-body) {
        flex-grow: 1;
    }

    &:deep(.p-card-content) {
        flex-grow: 1;
    }
}
</style>