<script setup lang="ts">

import FolderNode from "~/components/FolderNode";
import FileEntry from "~/components/FileEntry";
import type {TreeSelectionKeys} from "primevue";
import type {TreeNode} from "primevue/treenode";
import CopyToClipboardButton from "~/components/CopyToClipboardButton.vue";
import {FilterMatchMode} from "@primevue/core";

const selectedKey = ref<TreeSelectionKeys|undefined>(undefined);
const nodes = ref<FolderNode[]>([]);
const directoryLoader = ref<boolean>(false);
const files = ref<FileEntry[]>([]);
const fileLoader = ref<boolean>(false);
const filters = ref({
    global: { value: null, matchMode: FilterMatchMode.CONTAINS }
});

//region Init
await loadFolderStructure();

async function loadFolderStructure() {
    directoryLoader.value = true;
    const { data: structure } = await useFetch('https://mediaapi.hitmaps.com/api/directories', {
        server: false,
        lazy: true
    });
    watch(structure, (newData: any) => {
        for (const row of newData.subdirectories) {
            const key = row.name;
            nodes.value.push(new FolderNode({
                key: key,
                icon: 'pi pi-folder',
                label: getFriendlyRoot(row.name),
                data: row,
                leaf: row.subdirectories.length === 0,
                children: processSubdirectories(key, row)
            }));
        }

        nodes.value.sort((o1: FolderNode, o2: FolderNode): number => {
            if (o1.label < o2.label) {
                return -1;
            }
            if (o1.label > o2.label) {
                return 1;
            }
            return 0;
        });
        directoryLoader.value = false;
    });
}

function processSubdirectories(key: string, directory: any): FolderNode[] {
    const subdirectories = [] as FolderNode[];
    for (const subdirectory of directory.subdirectories) {
        const innerKey = `${key}/${subdirectory.name}`;
        subdirectories.push(new FolderNode({
            key: innerKey,
            icon: 'pi pi-folder',
            label: subdirectory.name,
            data: subdirectory,
            leaf: subdirectory.subdirectories.length === 0,
            children: processSubdirectories(innerKey, subdirectory)
        }));
    }

    subdirectories.sort((o1: FolderNode, o2: FolderNode): number => {
        if (o1.label < o2.label) {
            return -1;
        }
        if (o1.label > o2.label) {
            return 1;
        }
        return 0;
    });

    return subdirectories;
}

function getFriendlyRoot(rootName: string): string {
    switch (rootName) {
        case 'hitman':
            return 'HITMAN™';
        case 'hitman2':
            return 'HITMAN™ 2';
        case 'hitman3':
            return 'HITMAN™ World of Assassination';
        case 'hitman3-vr-reloaded':
            return 'HITMAN™ 3: VR Reloaded';
        case 'hitmaps-custom':
            return 'HITMAPS™ Custom';
        case 'hitmaps-roulette':
            return 'HITMAPS™ Roulette';
        case 'hitmaps-tournaments':
            return 'HITMAPS™ Tournaments';
        case 'blood-money':
            return 'Hitman: Blood Money';
        case 'absolution':
            return 'Hitman Absolution'
        default:
            return rootName;
    }
}
//endregion
//region Folder Select
const onNodeSelect = (node: TreeNode) => {
    fileLoader.value = true;
    useFetch('https://mediaapi.hitmaps.com/api/files', {
        query: {
            path: node.key
        },
        server: false
    }).then(resp => {
        const filesResponse = resp.data;
        files.value = [];
        // @ts-ignore
        for (const file of filesResponse.value) {
            files.value.push(new FileEntry({
                fileName: file.fileName,
                localizedTextName: file.localizedTextName,
                fullPath: file.fullPath
            }));
        }
        fileLoader.value = false;
    });
}
//endregion
</script>

<template>
    <div class="grid grid-cols-12 mt-10">
        <div class="col-span-3 px-2">
            <progress-spinner v-if="directoryLoader"/>
            <Tree v-else v-model:selection-keys="selectedKey" @node-select="onNodeSelect" :filter="true" :value="nodes" class="w-full" selection-mode="single" />
        </div>
        <div class="col-span-9 px-2">
            <span v-if="!selectedKey" class="text-3xl">Select a folder from the sidebar</span>
            <progress-spinner v-else-if="fileLoader"/>
            <data-table v-else v-model:filters="filters"
                        :global-filter-fields="['name','fullPath','localizedTextName']"
                        :value="files"
                        scrollable
                        scrollHeight="700px"
                        :virtualScrollerOptions="{ itemSize: 50, disabled: files.length < 50, appendOnly: files.length < 50 }">
                <template #header>
                    <div class="flex justify-end">
                        <icon-field>
                            <input-icon><i class="pi pi-search" /></input-icon>
                            <input-text v-model="filters['global'].value" placeholder="Search" />
                        </icon-field>
                    </div>
                </template>
                <template #empty>Folder is empty</template>
                <column header="Image">
                    <template #body="slotProps">
                        <Image :src="`https://media.hitmaps.com/${(slotProps.data as FileEntry).fullPath}`" width="200" preview />
                    </template>
                </column>
                <column header="Name">
                    <template #body="slotProps">
                        {{ (slotProps.data as FileEntry).localizedTextName ?? (slotProps.data as FileEntry).fileName }}
                    </template>
                </column>
                <column header="URL">
                    <template #body="slotProps">
                        <copy-to-clipboard-button toast-template="Link copied to clipboard"
                                                  :content="`https://media.hitmaps.com/${(slotProps.data as FileEntry).fullPath}`" />&nbsp;
                        <a target="_blank" :href="`https://media.hitmaps.com/${(slotProps.data as FileEntry).fullPath}`">
                            {{ `/${(slotProps.data as FileEntry).fullPath}` }}
                            <i class="pi pi-external-link"></i>
                        </a>
                    </template>
                </column>
            </data-table>
        </div>
    </div>
</template>

<style scoped>

</style>