<script setup lang="ts">

</script>

<template>
    <div class="grid grid-cols-2 grid-rows-2 mt-10">
        <div class="col-span-2 text-center uppercase text-3xl mb-10">
            <Image src="https://media.hitmaps.com/img/hitmaps-custom/logo-black-bg.png" alt="HITMAPS Logo" class="flex justify-center" image-class="sm:w-1/2 lg:w-1/3" />
            Media Library
        </div>
        <div class="mx-1">
            <Card>
                <template #title>Image Library</template>
                <template #content>
                    View in-game images, along with some custom, HITMAPS-specific images.
                </template>
                <template #footer>
                    <nuxt-link to="/images">
                        <Button label="Visit Image Library" severity="contrast" />
                    </nuxt-link>
                </template>
            </Card>
        </div>
        <div class="mx-1">
            <Card>
                <template #title>
                    Audio Library
                    <Tag severity="warn" value="Beta" />
                </template>
                <template #content>
                    View in-game audio, along with their transcriptions.
                </template>
                <template #footer>
                    <nuxt-link to="/audio">
                        <Button label="Visit Audio Library" severity="contrast" />
                    </nuxt-link>
                </template>
            </Card>
        </div>
    </div>
</template>

<style scoped>

</style>